@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s;
}

a {
    color: #eee;
    text-decoration: none;
    outline: none;
}


.glass-effect {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@supports (height: 100svh) {
    body {
        min-height: calc100svh;
    }
}

body {
    background-image: url('bc.jpg');
    background-size: cover;
    color: #eee;
    margin: 0;
    min-width: 100vw;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: auto;
    font-size: 1rem;
}


.navbar:hover+.navbar {
    text-align: left;
    padding-left: 20px;
}

.github-icon svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* display: none; */
}

.navbar {
    display: flex;
    justify-content: center;
    cursor: default;
    text-align: center;
    position: absolute;
    width: 98vw;
    top: 20px;
    left: 1vw;
    padding: 10px;
    font-size: 1rem;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.navbar a:hover {
    color: #24283b;
    color: #bb9af7;
}

.description {
    font-size: 1.5rem;
    margin-top: 100px;
    text-align: center;
}

.description span {
    color: #bb9af7;
}

.description span:hover {
    color: #24283b;
    background: #bb9af7;
    padding: 5px;
}

.description .ukrainian {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.description .ukrainian:nth-child(3) {
    font-weight: bold;
    background-image: linear-gradient(to bottom, #0095ff 50%, #ffeb77 50%);
}

.description .china {
    color: #eee;
}

.description .china:hover {
    font-weight: bold;
    color: #ffe009;
    background: #ef232c;
}

.projects {
    font-size: 1.5rem;
    margin-top: 50px;
    text-align: center;
}



.project {
    justify-content: center;
    margin-bottom: 40px;
}

.desc {
    margin-top: 10px;
}

.project a {
    font-weight: 50px;
    text-decoration: none;
    outline: none;
    color: #eee;
    cursor: default;
    color: #24283b;
    background: #bb9af7;
    padding: 5px;
}

.project .name {
    width: 100%;
}

.project .name:hover {
    color: #bb9af7;
    background: #24283b;
}